body {
  background: url("https://images.unsplash.com/photo-1511314128052-1ba0c3f0081a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1912&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Montserrat", sans-serif;
  padding: 42px 30px 0px 5px;
  color: #fff;
}

@media (max-width: 576px) {
  body {
    padding-top: 35px;
    padding-right: 12px;
  }
}

@media (max-width: 365px) {
  body {
    padding-top: 30px;
  }
}
