.SearchForm input {
  margin-left: 5px;
  background: transparent;
  text-align: center;
  border-width: 1px;
  border-style: none none solid none;
  border-color: #fff;
}

.SearchForm input::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.SearchForm input[type="search"] {
  color: #fff;
}

.SearchForm input[type="submit"] {
  background-color: #fff;
  border: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px 6px 6px 6px;
}

@media (max-width: 768px) {
  .SearchForm input::placeholder {
    font-size: 12px;
  }

  .SearchForm input[type="search"] {
    font-size: 10px;
  }

  .SearchForm input[type="submit"] {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .SearchForm input::placeholder {
    font-size: 12px;
    letter-spacing: 2px;
  }

  .SearchForm input[type="search"] {
    font-size: 24px;
  }

  .SearchForm input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 365px) {
  .SearchForm input::placeholder {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .SearchForm input[type="search"] {
    font-size: 16px;
  }

  .SearchForm input[type="submit"] {
    font-size: 12px;
  }
}

@media (max-width: 285px) {
  .SearchForm input::placeholder {
    font-size: 10px;
  }

  .SearchForm input[type="search"] {
    font-size: 12px;
  }

  .SearchForm input[type="submit"] {
    font-size: 10px;
  }
}
